@{
    var currentCulture = Context.Request.Cookies["UserCulture"] ?? "en";
}

<header>
    <nav class="navbar navbar-expand-lg">
        <div class="navbar-brand-container">
            <a class="navbar-brand" href="#">campana</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Home" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Live" asp-controller="Home" class="nav-link">Live</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Work" asp-controller="Home" class="nav-link">Work</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Integrate" asp-controller="Home" class="nav-link">Integrate</a>
                </li>
                <li class="nav-item dropdown">
                    <form asp-controller="Home" asp-action="ChangeLanguage" method="POST">
                        <select class="nav-link dropdown-toggle" data-bs-toggle="dropdown" name="lang" onchange="this.form.submit()">
                            @if (currentCulture == "en")
                            {
                                <option value="en" style="cursor:pointer !important;" selected>English</option>
                            }
                            else
                            {
                                <option value="en" style="cursor:pointer !important;">English</option>
                            }
                            @if (currentCulture == "pt-PT")
                            {
                                <option value="pt-PT" style="cursor:pointer !important;"  selected>Portugal</option>
                            }
                            else
                            {
                                <option value="pt-PT" style="cursor:pointer !important;" >Portugal</option>
                            }

                        </select>
                    </form>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Login" class="sign-in-button">Sign in</a>
                </li>
            </ul>
        </div>
    </nav>
</header>